
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/responsible/css/profile.css">
</head>
<body>
    <div class="btn_back" id="btn_back">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    

    <div class="alumno__container">
        <section class="alumno__info_section">
            <div class="alumno__header_info"> <h1>Informacion Personal</h1></div>

            <div class="alumno__imagen_container">
                <div class="alumno__imagen_container_secundario">
                    <div class="alumno__imagen">
                        <!-- imagen -->
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="alumno__nombre">
                        <% if(data.course || data.group) { %>
                            <h1><%= data.student.personalInformation.first_name %> <%= data.student.personalInformation.last_name1 %> <%= data.course.year %>°<%= data.course.division %></h1>
                        <% } else { %>
                            <h1><%= data.student.personalInformation.first_name %> <%= data.student.personalInformation.last_name1 %> (sin curso)</h1>
                        <% } %>
                    </div>  
                </div>
                <div class="alumno__info_relevante">
                    <ul class="alumno__datos_container">
                        <li class="alumno__dato relevante"><span>Documento: </span><p><%= data.student.personalInformation.DNI %></p></li>
                        <li class="alumno__dato relevante"><span>Direccion: </span><p><%= data.student.personalInformation.direction %></p></li>
                        <% if(data.course && data.group) { %>
                            <li class="alumno__dato relevante"><span>Turno: </span><p><%= data.course.entry_time %></p></li>
                            <li class="alumno__dato relevante"><span>Grupo: </span><p><%= data.group.group %></p></li>
                        <% } else { %>
                            <li class="alumno__dato relevante"><span>Turno: </span><p>-</p></li>
                            <li class="alumno__dato relevante"><span>Grupo: </span><p>-</p></li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="alumno__info_personal">
                <ul class="alumno__datos_container">
                    <li class="alumno__dato"><span>Obra social: </span><p><%= data.student.studentInformation.social_work %></p></li>
                    <li class="alumno__dato"><span>Telefono fijo: </span><p><%= data.student.personalInformation.landline_phone_number || '-' %></p></li>
                    <li class="alumno__dato"><span>Celular: </span><p><%= data.student.personalInformation.phone_number %></p></li>
                </ul>
            </div>
        
        </section>
        <% 
            function calculateAge(birth_date) {
                const today = new Date();
                const birth = new Date(birth_date);
                let age = today.getFullYear() - birth.getFullYear();
                const month = today.getMonth() - birth.getMonth();

                if (month < 0 || (month === 0 && today.getDate() < birth.getDate())) {
                    age--;
                }

                return age;
            }

            const age = calculateAge(data.student.personalInformation.birth_date)
            let responsibles = data.responsibles || [];
            if (age >= 18) {
                responsibles.unshift({
                    responsible: data.student,
                    responsability: 'Estudiante'
                });
            }
        %>
        <% if(responsibles) { %>
            <section class="alumno__info_responsables_container">
                <div class="alumno__info_responsables">
                    <div class="alumno__header_responsables">
                    <h1>Información Responsables <span id="responsable_page">1</span>/<%= responsibles.length%></h1>
                    </div>
                    <ul class="alumno__datos_container" id="responsables_list">
                        <li class="alumno__dato">
                            <span>Nombre: </span>
                            <p id="nombre_responsable"></p>
                        </li>
                        <li class="alumno__dato">
                            <span>Teléfono fijo: </span>
                            <p id="telefono_fijo_responsable">
                                <%= responsibles[0].responsible.personalInformation.landline_phone_number %>
                            </p>
                        </li>
                        <li class="alumno__dato">
                            <span>Celular: </span>
                            <p id="celular_responsable">
                                <%= responsibles[0].responsible.personalInformation.phone_number %>
                            </p>
                        </li>
                        <li class="alumno__dato">
                            <span>Dirección: </span>
                            <p id="direccion_responsable">
                                <%= responsibles[0].responsible.personalInformation.direction %>
                            </p>
                        </li>
                        <li class="alumno__dato">
                            <span>Responsable: </span>
                            <p id="relacion_responsable">
                                <%= responsibles[0].responsability %>
                            </p>
                        </li>
                    </ul>
                    <div class="alumno__info_responsables_arrow">
                    <i id="alumno__arrow_back" class="fa-solid fa-arrow-left"></i>
                    <i id="alumno__arrow_next" class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </section>
        <% } else { %>
            <section class="alumno__info_responsables_container">
                <div class="alumno__info_responsables">
                    <div class="alumno__header_responsables">
                    <h1>Información Responsables <span id="responsable_page">-</span>/-</h1>
                    </div>
                    <ul class="alumno__datos_container" id="responsables_list">
                    <li class="alumno__dato"><span>Nombre: </span><p id="nombre_responsable">-</p></li>
                    <li class="alumno__dato"><span>Teléfono fijo: </span><p id="telefono_fijo_responsable">-</p></li>
                    <li class="alumno__dato"><span>Celular: </span><p id="celular_responsable">-</p></li>
                    <li class="alumno__dato"><span>Dirección: </span><p id="direccion_responsable">-</p></li>
                    <li class="alumno__dato"><span>Responsable: </span><p id="relacion_responsable">-</p></li>
                    </ul>
                    <div class="alumno__info_responsables_arrow">
                    <i id="alumno__arrow_back" class="fa-solid fa-arrow-left"></i>
                    <i id="alumno__arrow_next" class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </section>
        <% } %>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var backButton = document.getElementById('btn_back')

            backButton.addEventListener('click', function() {
                if(window.history.length > 1) window.history.back()
                else alert('No hay historial para volver')
            })
        })

        let responsibles = <%- JSON.stringify(data.responsibles) %>;

        if(responsibles) {
            document.addEventListener('DOMContentLoaded', function () {
                let currentPage = 0;
                const totalPages = responsibles.length;
                
                function updateResponsableInfo() {
                    document.getElementById('responsable_page').textContent = currentPage + 1;

                    const firstName = responsibles[currentPage].responsible.personalInformation.first_name || '';
                    const secondName = responsibles[currentPage].responsible.personalInformation.second_name || '';
                    const lastName1 = responsibles[currentPage].responsible.personalInformation.last_name1 || '';
                    const lastName2 = responsibles[currentPage].responsible.personalInformation.last_name2 || '';

                    const fullName = `${firstName} ${secondName} ${lastName1} ${lastName2}`.trim();

                    document.getElementById('nombre_responsable').textContent = fullName;
                    document.getElementById('telefono_fijo_responsable').textContent = 
                    responsibles[currentPage].responsible.personalInformation.landline_phone_number || '-';
                    document.getElementById('celular_responsable').textContent = 
                    responsibles[currentPage].responsible.personalInformation.phone_number;
                    document.getElementById('direccion_responsable').textContent = 
                    responsibles[currentPage].responsible.personalInformation.direction;
                    document.getElementById('relacion_responsable').textContent = responsibles[currentPage].responsability;
                }

                document.getElementById('alumno__arrow_next').addEventListener('click', function () {
                    if (currentPage < totalPages - 1) {
                    currentPage++;
                    updateResponsableInfo();
                    }
                });

                document.getElementById('alumno__arrow_back').addEventListener('click', function () {
                    if (currentPage > 0) {
                    currentPage--;
                    updateResponsableInfo();
                    }
                });

                updateResponsableInfo();
            });
        }
    </script>

</body>
</html>