
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar preceptor</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/directive/css/editStudent.css">
</head>
<body>
    <div class="exit btn_back" id="btn_back">
        <i class="fas fa-caret-square-left"></i>
    </div>  
    <div class="container">
        <h1>Modificar</h1>
        <form id="modifyForm">
            <div class="formulario">
            <label>Nombre:</label>
            <input type="text" 
                    placeholder="<%= data.preceptor.personalInformation.first_name %> 
                    <%= data.preceptor.personalInformation.second_name || '' %> 
                    <%= data.preceptor.personalInformation.last_name1 %> 
                    <%= data.preceptor.personalInformation.last_name2 || '' %>" readonly>
        
            <label>Documento:</label>
            <input type="text" 
                    placeholder="<%= data.preceptor.personalInformation.DNI %>" readonly>
        
            <label for="course">Curso:</label>
            <select id="course" name="course">
                <option selected>Seleccione una materia</option>
                <% data.courses.forEach(course => { %>
                    <option value="<%= course.courseID %>">
                        <%= course.year %>°<%= course.division %>
                    </option>
                <% }) %>
                </select>
            </div>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var backButton = document.getElementById('btn_back')

            backButton.addEventListener('click', function() {
                if(window.history.length > 1) window.history.back()
                else alert('No hay historial para volver')
            })
        })

        const form = document.getElementById('modifyForm');
        const preceptorCUIL = '<%= data.preceptor.CUIL %>';
        const CUIL = '<%= CUIL %>';

        form.addEventListener('submit', async (event) => {
            event.preventDefault(); // Evita el envío tradicional del formulario.

            const courseID = document.getElementById('course').value;

            try {
                const response = await fetch(`http://localhost:9457/${CUIL}/editPreceptor/${preceptorCUIL}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ courseID })
                });

                console.log('front ', response);

                if (!response.ok) {
                const errorData = await response.json();
                console.error('Error en la inscripción:', errorData);
                } else {
                window.location.href = '/';
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
            }
        });
    </script>
</body>
</html>