<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Probar API Rest</title>
  <style>
    article {
      border: 1px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    img {
      height: auto;
      width: 320px;
      max-width: 100%;
    }
  </style>
</head>
<body>
  <main></main>

  <% if(subjects.length > 1 ) { %>
    <% subjects.forEach(subject => { %>
      <article>
        <h1><%=subject.course.year%>째-<%=subject.course.division%>째</h1>
        <p>Materia: <%=subject.name%></p>
      </article>
    <% }) %>
  <%} else {%>
    <article>
      <h1><%=subject.course.year%>째-<%=subject.course.division%>째</h1>
      <p>Materia: <%=subject.name%></p>
    </article>
  <%}%>
</body>
</html>